<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900" rel="stylesheet">
</head>
<body>
    <nav id="nav">
        <%- include('partials/nav.ejs') %>
      </nav>
<main>
    <section class="hobbies">
        <H2>&#9917; Hobbies</H2>
        <img src="images/cycling.png" alt="a photo of mountain bike and helmet" class="image">
        <img src="images/mini.jpg" alt="a photo of a classic mini" class="image">
        <img src="images/tech.jpg" alt="Macbook pro with lines of code on a busy desk" class="image">
        <div>
            <p>I have a lot of hobbies and try to persue them whenever I have spare time. I own a classic Mini Cooper and enjoy working on it and driving on hot sunny days.</p>
            <p>I also like to cycle and have just purchased my first ebike! Which is super fun and easy to ride.</p>
            <p>Besides that, I also enjoy making and designing models for my 3D printer, I've made a couple so far and hope to make many more things with it. I've always considered myself quite creative and like to draw, paint and design things for my friends.</p>
            <p>Sometimes I feel I have too many hobbies, I even keep a trello board for all my personal projects. Check out my <a href="projects.html">Projects</a> page to see them!</p>
        </div>
    </section>
    <section class="projects, inline">
      <h2>&#128190 Projects</h2>
      <p>This page is for personal projects I'm working on or stuff that I find interesting</p>
  </section>
  <section class="projects">
  <section class="projects-cards">
      <H2>3D Printing</H2>
      <img src="images/Penwoodfig.jpg" alt="Project 1" class="image">
      <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt modi enim dicta itaque quia adipisci. Sed saepe accusamus, voluptatem dicta cumque quibusdam blanditiis. Illum perspiciatis praesentium dolores cupiditate consequatur nostrum.</p>
      </div>
  </section>
  <section class="projects-cards">
      <H2>Game Modding</H2>
      <img src="images/readyornot.png" alt="Project 1" class="image">
      <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt modi enim dicta itaque quia adipisci. Sed saepe accusamus, voluptatem dicta cumque quibusdam blanditiis. Illum perspiciatis praesentium dolores cupiditate consequatur nostrum.</p>
          <a href="https://steamcommunity.com/profiles/76561198041351033/myworkshopfiles/">Click here to see my Steam Workshop</a>
          <img src="images/unknown.png" alt="Project 1" class="image">
      </div>
  </section>
  <section class="projects-cards">
      <H2>Art</H2>
      <div>
          <img src="images/art.png" alt="Project 1" class="image">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt modi enim dicta itaque quia adipisci. Sed saepe accusamus, voluptatem dicta cumque quibusdam blanditiis. Illum perspiciatis praesentium dolores cupiditate consequatur nostrum.</p>
      </div>
  </section>
  <section class="projects-cards">
      <H2>PC Modding</H2>
      <div>
          <img src="images/keycaps.jpg" alt="Project 1" class="image">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt modi enim dicta itaque quia adipisci. Sed saepe accusamus, voluptatem dicta cumque quibusdam blanditiis. Illum perspiciatis praesentium dolores cupiditate consequatur nostrum.</p>
      </div>
  </section>
  </section>
</main>


<footer>
<ul>
  <li><a href="https://github.com/Hermeshasnowings" class="social github">Github</a></li>
</ul>
<p class="copyright">Copyright&copy; 2022 Holly</p>
</footer>
</body>
</html>