/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}

/* Link Styles */

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: #E53233;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
  z-index: 999;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
  display: block;
  margin-right: auto;
  color: white;
}

.logo {
  max-height: 30px;
  margin-right: 10px;
}

.nav li {
  padding: 5px 10px 10px 10px;
}

.nav a {
  transition: all .5s;
}

.nav a:hover {
  color: white
}

.btn {
  color: #ffe484;
}

header {
  text-align: center;
  background: url('../images/nffc-ground.jpg') no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding-top: 200px;
  padding-bottom: 200px;
  transform: skewY(5deg);
  margin-bottom: 50px;
}

header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 75%;
  border: 3px solid #E53233;
  transition: all .10s;
  box-shadow: 0px 0 10px #E53233;
  transform: skewY(-5deg);
}

header .profile-image:hover {
  transform: scale(1.2) rotate(5deg);
}

.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
  box-shadow: 0px 0 10px #E53233;
  transform: skewY(-5deg);
}

.location {
  background-color: #222;
  color: white;
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 900px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
  box-shadow: 0px 0 5px #aaa;
}

.showcase {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  margin: auto;
  display: block;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
  box-shadow: 0px 0 5px #aaa;
  margin-bottom: 20px;
}

.backg {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='1000' preserveAspectRatio='none' viewBox='0 0 1440 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1035%26quot%3b)' fill='none'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1036%26quot%3b)'%3e%3cpath d='M287.5 462.5L312.5 487.5M437.5 462.5L462.5 437.5L487.5 437.5L512.5 437.5L537.5 437.5M637.5 462.5L662.5 437.5M237.5 462.5L262.5 487.5M162.5 462.5L187.5 487.5L212.5 487.5L237.5 487.5M562.5 462.5L587.5 437.5L612.5 437.5L637.5 412.5L662.5 412.5M337.5 462.5L362.5 487.5M-12.5 512.5L12.5 512.5L37.5 487.5L62.5 462.5L87.5 462.5L112.5 462.5L137.5 462.5L162.5 462.5L187.5 462.5L212.5 462.5L237.5 462.5L262.5 462.5L287.5 462.5L312.5 462.5L337.5 462.5L362.5 462.5L387.5 462.5L412.5 462.5L437.5 462.5L462.5 462.5L487.5 462.5L512.5 462.5L537.5 462.5L562.5 462.5L587.5 462.5L612.5 462.5L637.5 462.5L662.5 462.5' stroke='rgba(229%2c 50%2c 51%2c 1)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M656.25 462.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM306.25 487.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM531.25 437.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM656.25 437.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM256.25 487.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM231.25 487.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM656.25 412.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM356.25 487.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(229%2c 50%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M312.5 437.5L337.5 412.5L362.5 412.5L387.5 412.5L412.5 412.5M287.5 437.5L312.5 412.5L337.5 387.5M-12.5 487.5L12.5 487.5L37.5 462.5L62.5 437.5L87.5 437.5L112.5 437.5L137.5 437.5L162.5 437.5L187.5 437.5L212.5 437.5L237.5 437.5L262.5 437.5L287.5 437.5L312.5 437.5L337.5 437.5' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M331.25 437.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM406.25 412.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM331.25 387.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M62.5 537.5L87.5 512.5L112.5 512.5L137.5 487.5L162.5 487.5M262.5 512.5L287.5 537.5L312.5 537.5M437.5 512.5L462.5 512.5L487.5 512.5M112.5 537.5L137.5 537.5L162.5 537.5M187.5 512.5L212.5 537.5L237.5 537.5L262.5 537.5M-12.5 537.5L12.5 537.5L37.5 537.5L62.5 537.5L87.5 537.5L112.5 537.5L137.5 512.5L162.5 512.5L187.5 512.5L212.5 512.5L237.5 512.5L262.5 512.5L287.5 512.5L312.5 512.5L337.5 512.5L362.5 512.5L387.5 512.5L412.5 512.5L437.5 512.5L462.5 487.5L487.5 487.5' stroke='rgba(229%2c 50%2c 51%2c 1)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M481.25 487.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM156.25 487.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM306.25 537.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM481.25 512.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM156.25 537.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM256.25 537.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(229%2c 50%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M-12.5 462.5L12.5 462.5L37.5 437.5L62.5 412.5L87.5 412.5L112.5 412.5L137.5 412.5L162.5 412.5L187.5 412.5L212.5 412.5L237.5 412.5L262.5 412.5' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M256.25 412.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M112.5 562.5L137.5 587.5L162.5 587.5L187.5 587.5L212.5 587.5M412.5 562.5L437.5 537.5M237.5 562.5L262.5 587.5L287.5 587.5L312.5 587.5M337.5 562.5L362.5 537.5L387.5 537.5L412.5 537.5M462.5 562.5L487.5 537.5M387.5 562.5L412.5 587.5L437.5 587.5L462.5 587.5L487.5 587.5M-12.5 562.5L12.5 562.5L37.5 562.5L62.5 562.5L87.5 562.5L112.5 562.5L137.5 562.5L162.5 562.5L187.5 562.5L212.5 562.5L237.5 562.5L262.5 562.5L287.5 562.5L312.5 562.5L337.5 562.5L362.5 562.5L387.5 562.5L412.5 562.5L437.5 562.5L462.5 562.5L487.5 562.5L512.5 562.5L537.5 562.5L562.5 562.5L587.5 537.5' stroke='rgba(229%2c 50%2c 51%2c 1)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M581.25 537.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM206.25 587.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM431.25 537.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM306.25 587.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM406.25 537.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM481.25 537.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM481.25 587.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(229%2c 50%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M112.5 387.5L137.5 362.5M237.5 387.5L262.5 362.5L287.5 362.5L312.5 362.5L337.5 362.5M-12.5 437.5L12.5 437.5L37.5 412.5L62.5 387.5L87.5 387.5L112.5 387.5L137.5 387.5L162.5 387.5L187.5 387.5L212.5 387.5L237.5 387.5L262.5 387.5' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M256.25 387.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM131.25 362.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM331.25 362.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M-12.5 587.5L12.5 587.5L37.5 587.5' stroke='rgba(229%2c 50%2c 51%2c 1)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M31.25 587.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(229%2c 50%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M-12.5 412.5L12.5 412.5L37.5 387.5L62.5 362.5' stroke='rgba(229%2c 50%2c 51%2c 1)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M56.25 362.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(229%2c 50%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M62.5 612.5L87.5 587.5L112.5 587.5M-12.5 612.5L12.5 612.5L37.5 612.5L62.5 612.5L87.5 612.5L112.5 612.5L137.5 612.5L162.5 612.5L187.5 612.5L212.5 612.5L237.5 612.5L262.5 612.5' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M256.25 612.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM106.25 587.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M187.5 362.5L212.5 337.5M287.5 337.5L312.5 337.5L337.5 337.5M162.5 362.5L187.5 337.5M212.5 362.5L237.5 362.5M-12.5 387.5L12.5 387.5L37.5 362.5L62.5 337.5L87.5 337.5L112.5 337.5L137.5 337.5L162.5 362.5L187.5 362.5L212.5 362.5L237.5 337.5L262.5 337.5L287.5 337.5L312.5 312.5L337.5 312.5L362.5 337.5L387.5 337.5' stroke='rgba(229%2c 50%2c 51%2c 1)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M381.25 337.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM206.25 337.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM331.25 337.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM181.25 337.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM231.25 362.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(229%2c 50%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M212.5 637.5L237.5 662.5M262.5 662.5L287.5 637.5L312.5 612.5L337.5 612.5M187.5 637.5L212.5 662.5M-12.5 637.5L12.5 637.5L37.5 637.5L62.5 637.5L87.5 637.5L112.5 637.5L137.5 637.5L162.5 637.5L187.5 637.5L212.5 637.5L237.5 637.5L262.5 662.5L287.5 662.5' stroke='rgba(229%2c 50%2c 51%2c 1)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M281.25 662.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM231.25 662.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM331.25 612.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM206.25 662.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(229%2c 50%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M312.5 262.5L337.5 287.5L362.5 312.5L387.5 312.5L412.5 312.5M437.5 262.5L462.5 287.5M262.5 287.5L287.5 287.5L312.5 287.5M362.5 262.5L387.5 287.5L412.5 287.5L437.5 287.5M112.5 312.5L137.5 287.5L162.5 287.5M487.5 262.5L512.5 287.5L537.5 287.5L562.5 287.5L587.5 287.5L612.5 287.5L637.5 287.5L662.5 287.5M612.5 262.5L637.5 237.5M-12.5 362.5L12.5 362.5L37.5 337.5L62.5 312.5L87.5 312.5L112.5 312.5L137.5 312.5L162.5 312.5L187.5 312.5L212.5 312.5L237.5 312.5L262.5 287.5L287.5 262.5L312.5 262.5L337.5 262.5L362.5 262.5L387.5 262.5L412.5 262.5L437.5 262.5L462.5 262.5L487.5 262.5L512.5 262.5L537.5 262.5L562.5 262.5L587.5 262.5L612.5 262.5L637.5 262.5L662.5 262.5' stroke='rgba(229%2c 50%2c 51%2c 1)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M656.25 262.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM406.25 312.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM456.25 287.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM306.25 287.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM431.25 287.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM156.25 287.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM656.25 287.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM631.25 237.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(229%2c 50%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M387.5 687.5L412.5 712.5M137.5 662.5L162.5 662.5L187.5 662.5M337.5 687.5L362.5 662.5L387.5 662.5L412.5 662.5L437.5 662.5M312.5 687.5L337.5 662.5M-12.5 662.5L12.5 662.5L37.5 662.5L62.5 662.5L87.5 662.5L112.5 662.5L137.5 662.5L162.5 687.5L187.5 687.5L212.5 687.5L237.5 687.5L262.5 687.5L287.5 687.5L312.5 687.5L337.5 687.5L362.5 687.5L387.5 687.5L412.5 687.5' stroke='rgba(229%2c 50%2c 51%2c 1)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M406.25 687.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM406.25 712.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM181.25 662.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM431.25 662.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM331.25 662.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(229%2c 50%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M387.5 237.5L412.5 212.5L437.5 212.5L462.5 212.5L487.5 212.5L512.5 187.5L537.5 187.5L562.5 187.5L587.5 187.5M312.5 237.5L337.5 212.5L362.5 212.5L387.5 212.5L412.5 187.5L437.5 187.5M87.5 287.5L112.5 287.5M487.5 237.5L512.5 237.5L537.5 237.5M187.5 287.5L212.5 262.5M162.5 262.5L187.5 262.5L212.5 237.5L237.5 237.5L262.5 237.5M-12.5 337.5L12.5 312.5L37.5 312.5L62.5 287.5L87.5 287.5L112.5 262.5L137.5 262.5L162.5 262.5L187.5 287.5L212.5 287.5L237.5 287.5L262.5 262.5L287.5 237.5L312.5 237.5L337.5 237.5L362.5 237.5L387.5 237.5L412.5 237.5L437.5 237.5L462.5 237.5L487.5 237.5L512.5 212.5L537.5 212.5L562.5 212.5L587.5 212.5' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M581.25 212.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM581.25 187.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM431.25 187.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM106.25 287.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM531.25 237.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM206.25 262.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM256.25 237.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M337.5 712.5L362.5 737.5M312.5 712.5L337.5 737.5M287.5 712.5L312.5 737.5M262.5 712.5L287.5 737.5M-12.5 687.5L12.5 687.5L37.5 687.5L62.5 687.5L87.5 687.5L112.5 687.5L137.5 687.5L162.5 712.5L187.5 712.5L212.5 712.5L237.5 712.5L262.5 712.5L287.5 712.5L312.5 712.5L337.5 712.5L362.5 712.5' stroke='rgba(229%2c 50%2c 51%2c 1)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M356.25 712.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM356.25 737.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM331.25 737.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM306.25 737.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM281.25 737.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(229%2c 50%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M62.5 262.5L87.5 262.5M-12.5 312.5L12.5 287.5L37.5 287.5L62.5 262.5L87.5 237.5' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M81.25 237.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM81.25 262.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M187.5 737.5L212.5 737.5L237.5 737.5L262.5 737.5M487.5 762.5L512.5 787.5L537.5 787.5M462.5 762.5L487.5 737.5L512.5 737.5L537.5 737.5L562.5 737.5M387.5 762.5L412.5 737.5L437.5 737.5M-12.5 712.5L12.5 712.5L37.5 712.5L62.5 712.5L87.5 712.5L112.5 712.5L137.5 712.5L162.5 737.5L187.5 737.5L212.5 762.5L237.5 762.5L262.5 762.5L287.5 762.5L312.5 762.5L337.5 762.5L362.5 762.5L387.5 762.5L412.5 762.5L437.5 762.5L462.5 762.5L487.5 762.5L512.5 762.5' stroke='rgba(229%2c 50%2c 51%2c 1)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M506.25 762.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM256.25 737.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM531.25 787.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM556.25 737.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM431.25 737.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(229%2c 50%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M237.5 212.5L262.5 187.5M187.5 212.5L212.5 187.5M137.5 212.5L162.5 237.5L187.5 237.5M-12.5 287.5L12.5 262.5L37.5 262.5L62.5 237.5L87.5 212.5L112.5 212.5L137.5 212.5L162.5 212.5L187.5 212.5L212.5 212.5L237.5 212.5L262.5 212.5' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M256.25 212.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM256.25 187.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM206.25 187.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM181.25 237.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M212.5 787.5L237.5 812.5L262.5 812.5L287.5 812.5M162.5 762.5L187.5 762.5M87.5 737.5L112.5 762.5L137.5 762.5L162.5 787.5L187.5 812.5M37.5 737.5L62.5 762.5L87.5 762.5L112.5 787.5M-12.5 737.5L12.5 737.5L37.5 737.5L62.5 737.5L87.5 737.5L112.5 737.5L137.5 737.5L162.5 762.5L187.5 787.5L212.5 787.5L237.5 787.5L262.5 787.5L287.5 787.5L312.5 787.5L337.5 787.5L362.5 787.5L387.5 787.5L412.5 787.5L437.5 787.5' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M431.25 787.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM281.25 812.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM181.25 762.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM181.25 812.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM106.25 787.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M12.5 237.5L37.5 212.5L62.5 187.5L87.5 162.5M-12.5 262.5L12.5 237.5L37.5 237.5L62.5 212.5L87.5 187.5L112.5 187.5' stroke='rgba(229%2c 50%2c 51%2c 1)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M106.25 187.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM81.25 162.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(229%2c 50%2c 51%2c 1)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1035'%3e%3crect width='1440' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cmask id='SvgjsMask1036'%3e%3crect width='1440' height='1000' fill='white'%3e%3c/rect%3e%3cpath d='M659.37 462.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM309.37 487.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM534.37 437.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM659.37 437.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM259.37 487.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM234.37 487.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM659.37 412.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM359.37 487.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M334.37 437.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM409.37 412.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM334.37 387.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M484.37 487.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM159.37 487.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM309.37 537.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM484.37 512.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM159.37 537.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM259.37 537.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M259.37 412.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M584.37 537.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM209.37 587.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM434.37 537.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM309.37 587.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM409.37 537.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM484.37 537.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM484.37 587.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M259.37 387.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM134.37 362.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM334.37 362.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M34.37 587.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M59.37 362.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M259.37 612.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM109.37 587.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M384.37 337.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM209.37 337.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM334.37 337.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM184.37 337.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM234.37 362.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M284.37 662.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM234.37 662.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM334.37 612.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM209.37 662.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M659.37 262.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM409.37 312.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM459.37 287.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM309.37 287.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM434.37 287.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM159.37 287.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM659.37 287.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM634.37 237.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M409.37 687.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM409.37 712.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM184.37 662.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM434.37 662.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM334.37 662.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M584.37 212.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM584.37 187.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM434.37 187.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM109.37 287.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM534.37 237.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM209.37 262.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM259.37 237.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M359.37 712.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM359.37 737.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM334.37 737.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM309.37 737.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM284.37 737.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M84.37 237.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM84.37 262.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M509.37 762.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM259.37 737.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM534.37 787.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM559.37 737.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM434.37 737.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M259.37 212.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM259.37 187.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM209.37 187.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM184.37 237.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M434.37 787.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM284.37 812.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM184.37 762.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM184.37 812.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM109.37 787.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M109.37 187.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM84.37 162.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
}

.webprojects-cards {
  margin: 10px;
  padding: 20px 40px 40px;
  min-height: 450px;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
  box-shadow: 0px 0 5px #aaa;

}

.webp {
  padding-top: 100px;
}

.card:hover {
  border-color: #E53233;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #E53233;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:hover {
  transform: scale(1.2);
}

.skills li:nth-child(odd) {
  background: gray;
}

.projects {
  margin-top: 50px;
  min-width: 300px;
  max-width: 1100px;
  margin: auto;
}

.projects-sec {
  margin-top: 100px;
}

.projects-cards {
  display: inline-table;
  margin: 5px;
  padding: 10px 40px 40px;
  min-height: 700px;
  max-width: 530px;
  max-height: 900px;
  text-align: center;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
  box-shadow: 0px 0 5px #aaa;
}

.container {
  position: relative;

}



.experience {
  margin-top: 150px;
  padding: 20px 40px 40px;
  max-width: 1100px;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: #aaa;
}

.experience:hover {
  border-color: #E53233;
}

.image-l {
  display: block;
  margin: auto;
  border-bottom: 3px solid #ccc;
  transition: all .5s;
  border-radius: 5px;
  margin-top: 100px;
  filter: brightness(50%);
}

.image-l:hover {
  border-color: #E53233;
}

.hobbies {
  margin: 50px auto;
  padding: 20px 40px 40px;
  display: inline-block;
  max-width: 1100px;
  min-height: 100px;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
  text-align: left;
  box-shadow: 0px 0 5px #aaa;
}

.hobbies:hover {
  border-color: #E53233;
}

.image {
  display: inline-block;
  margin: 5px;
  border-bottom: 4px solid #ccc;
  border-right: 4px solid #ccc;
  transition: all .5s;
  border-radius: 10px;
  max-width: 325px;
}

.image:hover {
  border-color: #E53233;
  transform: scale(1.1);
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
  text-align: center;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

a.github {
  background-image: url('../images/github.svg');
}

a.social:hover {
  opacity: 1;
}

.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {

  .flex {
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: flex;
    max-width: 1200px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

  @media (max-width: 769px) {

    .main-nav,
    .nav {
      display: flex;
    }

    .nav {
      flex-direction: column;
      align-items: center;
    }
  }

  @media (min-width: 1025px) {

    .nav {
      flex-direction: row;
      justify-content: space-between;
    }

    .insta {
      max-width: 1100px;
      margin: auto;
    }

  }

}